.arrangements-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    
  }
 
  .arrangement-card {
    
    position: relative;
    padding: 40px;
    background-color: rgb(51, 43, 43);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    height: 300px;
    color: rgb(226, 218, 218);
  }
  
  .arrangement-card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .arrangement-number {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--dark-gray);
  }